{:main photon.core
 :output-to "out/index.js"
 :output-dir "out"
 :target :bundle
 :bundle-cmd {:none ["C:/Program Files/nodejs/npx.cmd" "C:/Users/usuario/AppData/Roaming/npm/webpack.cmd" "--mode=development"]
              :default ["npx" "webpack" "out/index.js" "-o" "out/main.js"]}
 :closure-defines {cljs.core/*global* "window"}} ;; needed for advanced


#_{:none ["C:/Users/usuario/AppData/Roaming/npm/npx.cmd" "C:/Users/usuario/AppData/Roaming/npm/webpack.cmd" "out/index.js" "-o" "out/main.js" "--mode=development"]
   :default ["C:/Program Files/nodejs/npx.cmd" "C:/Users/usuario/AppData/Roaming/npm/webpack.cmd" "out/index.js" "-o" "out/main.js"]}